.card article {
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin: 20px;
    /* border-radius: 50%;*/
    box-shadow: 0px 0px 30px 3px black;
    border-radius: 5%;
    border-radius: 5px;
    /* border: 2px dashed black ;
  border: 2px dotted black;*/
    border: 2px solid black;
    /* ============== x y blur spreas color */
}

.card {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-evenly;
}



@media (max-width:)