*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} 

#navbar{
    width:100%;
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    align-items: center;
    text-decoration: none;
    position: relative;
}
#navbar nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
#navbar nav ul li a{
    text-decoration: none;
    color: black;
}
#navbar button{
    padding: 10px;
    background-color:brown;

}

              /* home section coding starts from here */
 #Home{
     width: 100%;
     height: 100vh;
     /* border: 1px solid blue; */
     background-image: url(./tiger\ 222222222.jpg);
     background-repeat: no-repeat;
     background-size: cover;
}              
#navbar button:hover{
    color: aqua;
    background-color: white;
    border: none;
}
.shadhow{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: aqua;
    margin-left: 40%;
    box-shadow: -10px 15px 5px 1px grey;
    /* 1.horizontal 2. verticle 3.blur spred color  */
}
.text{
    text-shadow: 10px 5px 5px blue;
    font-size: 80px;
}