*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} 

#navbar{
    width:100%;
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    align-items: center;
    text-decoration: none;
}
#navbar nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
#navbar nav ul li a{
    text-decoration: none;
    color: black;
}
#navbar button{
    padding: 10px;
    background-color:brown;

}



              /* home section coding starts from here */

              