#text{
    background-color: burlywood;
    margin-left: 10%;
}

#bars{
    font-size: 30px;
    float: right;
    margin-top: -15px;
    color: white;
    /* z-index: 100; */
}

#showtext{
    display: none;
    background-color: aqua;
    font-size: 20px;
    justify-content: center;
}

#check{
    display: none;
}

#check:checked~#showtext{
    display: block;
}

